.panel {
  $panelContBorders: 1px solid darkgray;
  $panelInnerColor: darkgray;
  $rowHeight: 24px;
  background: rebeccapurple;

  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;

  &--floating {
    border: $panelContBorders;
    position: relative;
    z-index: 21;

    & > .panel__header {
      cursor: move;
    }

    &__resize-box {
      content: "";
      z-index: 20;
      position: fixed;
      margin: -5px;
      padding: 5px;
    }
  }

  &--windowed {
    width: 100%;
    height: 100%;
  }

  &__header {
    border-bottom: $panelContBorders;
    height: $rowHeight;
    line-height: $rowHeight;
    display: flex;
    padding: 0 2px;

    &__spacer {
      flex: 1;

      & ~ * {
        margin: 0 2px;
      }
    }

    &__separator {
      flex: 0 0 1px;
      background-color: #fff4;
      margin: 3px 2px;
    }
  }

  &__resize-handle {
    flex: 0 0 1px;
    background-color: $panelInnerColor;
    position: relative;
    &::after {
      content: "";
      z-index: 11;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__resize {
    z-index: 22;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px;
    &--n { bottom: auto; }
    &--s { top:    auto; }
    &--e { left:   auto; }
    &--w { right:  auto; }
    &--n, &--s { cursor: ns-resize; }
    &--e, &--w { cursor: ew-resize; }
    &--n#{&}--e, &--s#{&}--w { cursor: nesw-resize; }
    &--n#{&}--w, &--s#{&}--e { cursor: nwse-resize; }

    &--corner { z-index: 23; }
  }


  &__dock {
    position: relative;
    flex: 0 0;

    &__resize-handle {
      position: absolute;
      z-index: 10;
    }

    &--left, &--right {
      height: 100%;
      min-width: 50px;

      & > .panel__dock__resize-handle {
        height: 100%;
        width: 7px;
        cursor: ew-resize;
        top: 0;

        &:last-child {
          right: 0;
          margin-right: -4px;
        }

        &:first-child {
          left: 0;
          margin-left: -4px;
        }
      }

      & > .panel__container {
        flex-direction: column;
      }

      & .panel__resize-handle::after {
        top: -3px;
        bottom: -3px;
        cursor: ns-resize;
      }
    }
    &--right { border-left: $panelContBorders; }
    &--left { border-right: $panelContBorders; }

    &--bottom, &--top {
      width: 100%;
      min-height: 50px;

      & > .panel__dock__resize-handle {
        width: 100%;
        height: 7px;
        cursor: ns-resize;

        &:last-child {
          bottom: 0;
          margin-bottom: -4px;
        }

        &:first-child {
          top: 0;
          margin-top: -4px;
        }
      }

      & .panel__resize-handle::after {
        left: -3px;
        right: -3px;
        cursor: ew-resize;
      }
    }
    &--bottom { border-top: $panelContBorders; }
    &--top { border-bottom: $panelContBorders; }
  }

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
  }

  &__controller {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-basis: 100vh;
    width: 100vw;
    overflow: hidden;

    &__container {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    &__body {
      flex: 1;
    }
  }

  &__menu {
    display: flex;
    flex-grow: 0;
    flex-wrap: nowrap;

    $border: 1px solid #fffa;
    $margin: 8px;

    &__item {
      flex-grow: 0;
      white-space: nowrap;
      line-height: $rowHeight;
      text-align: center;
      color: #fffa;
      user-select: none;

      &:hover {
        background: #fff2;
      }

      &--active {
        background: #fff4;
        color: #fff;

        &:hover {
          background: #fff4;
        }
      }
    }

    &:not(&--vertical) {
      height: $rowHeight;

      &:first-child { border-bottom: $border; }
      &:last-child { border-top: $border; }

      > span {
        padding: 0 $margin;
      }
    }

    &--vertical {
      flex-direction: column;
      //max-height: calc(100vh - #{2 * ($size + 1)});
      //max-height: 100%;
      //object-fit: contain;
      overflow: auto;
      width: $rowHeight;


      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* IE 10+ */
      &::-webkit-scrollbar {
        width: 0;
        background: transparent; /* Chrome/Safari/Webkit */
      }

      &:first-child {
        border-right: $border;

        > span {
          transform: rotate(.5turn);
        }
      }

      &:last-child { border-left: $border; }

      > span {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        padding: $margin 0;
      }
    }

    &__container {
      display: flex;
      flex: 1;
      max-height: 100%;
      overflow: hidden;
    }

    &__sub-container {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    &__separator {
      flex-grow: 1;
    }
  }
}
