.panel {
  $top: &;

  max-width: 40vw;
  min-width: 180px;

  background: rebeccapurple;

  &:not(:last-child) {
    border-bottom: 1px solid darkgray;
  }

  &--resizable {
    resize: both;
  }

  &--minimised {
    & #{$top}__body {
      height: 0;
      overflow: hidden;
      padding: 0;
    }
    & #{$top}__toolbar {
      border-bottom: none;
    }
  }

  &--docked {
    &__resize-handle {
      position: absolute;
      height: 6px;
      width: 100%;
      margin-top: -2px;
      cursor: ns-resize;
      z-index: 10;
    }
  }

  &__toolbar {
    //height: 18px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    border-bottom: 1px solid darkgray; // TODO
    &__name {
      padding-left: 2px;
    }
    &__handle {
      margin: 3px;
      flex: 1 1;
      background-color: red; // TODO
      cursor: move;
    }
    &__minimize, &__close {
      cursor: pointer;
      flex: 0 0 16px;
      text-align: center;
    }
    &__minimise {}
    &__close {}
  }

  &__body {
    padding: 3px;
  }

  &__dock {
    background-color: green;

    position: relative;
    flex: 0 0 400px;

    &__resize-handle {
      position: absolute;
      top: 0;
      z-index: 10;
    }

    &--left, &--right {
      //width: attr(data-size px, 400px);
      width: 400px;
      height: 100%;
      min-width: 20px;

      & .panel__dock__resize-handle {
        height: 100%;
        width: 6px;
        cursor: ew-resize;

        &:last-child {
          right: 0;
          margin-right: -4px;
        }
        &:first-child {
          left: 0;
          margin-left: -4px;
        }
      }
    }

    &--right {
      border-left: 1px solid darkgray;
    }
    &--left {
      border-right: 1px solid darkgray;
    }

    &--bottom {
      //height: attr(data-size px, 400px);
      height: 400px;
      width: 100%;
      min-height: 20px;
      border-top: 1px solid darkgray;

      & .panel__dock__resize-handle {
        width: 100%;
        height: 6px;
        cursor: ns-resize;
        top: 0;
        margin-top: -4px;
      }
    }
  }

  &__container {
    height: 100%;
    width: 100%;
  }
}