.main_container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 0 0 214px;
  display: flex;
  flex-direction: column;
  border-right: solid 1px #fff4;
  > * {
    &:not(:first-child) {
      border-top: 1px solid #fff5;
      padding: 3px 5px;
      > *:not(:first-child) {
        padding-top: 2px;
      }
    }
  }
}

.grid_container {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.grid_base {
  overflow: auto;
}

.navigation {
  padding-top: 4px;
  border-bottom: 1px solid #fff5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-collapse: collapse;
  flex-wrap: wrap;
  > * {
    padding: 2px 4px;
    color: #fff9;
    text-decoration: none;
    border: 1px solid #fff9;
    border-bottom: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    border-radius: 0;
    &:not(:last-child) {
      border-right: none;
    }
    &:hover:not(.navigation--active) {
      color: #fffa;
      background-color: #fff1;
      text-decoration: none;
    }
    &:focus {
      box-shadow: none;
      border: 1px solid white;
      border-bottom: none;
      + * {
        border-left: none;
      }
    }
  }

  &--active {
    cursor: default;
    color: #fffe;
    background-color: #fff2;
    &:hover {
      text-decoration: none;
      color: #fffe;
      background-color: #fff2;
    }
  }
}

.title {
  font-size: 24px;
  line-height: 40px;
  display: flex;
  height: 40px;
}

.dim_select {
  > div {
    text-align: center;
    > input {
      width: 30px;
    }
  }
}

.scale_select {
  display: flex;
  > input {
    width: 28px;
    height: 15px;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  > button {
    height: 21px;
    width: 21px;
    padding: 1px 0;
    &:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.block_picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    cursor: pointer;
    padding: 1.5px;
    width: 48px;
    display: block;
  }
}

.modal {
  &__import {
    width: 300px;
    input[type="file"] ~ button {
      margin-top: 4px;
    }
  }
}

.layer_buttons {
  width: 40px;
  text-align: center;
  > * {
    width: 100%;
  }
}

.import-files {
  display: flex;
  &__status {
    flex: 0 0 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 2px;
    &--success {
      background-color: green;
    }
    &--warning {
      background-color: yellow;
    }
    &--error {
      background-color: red;
    }
  }

  &__name {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__remove {
    flex: 0 0;
    //width: 14px;
    //height: 14px;
    border: 1px solid #fff8;
    border-radius: 4px;
    padding: 0 4px;
    cursor: pointer;
  }
}