.__menu_radial {
  position: fixed;
  transform: translate(-50%, -50%);

  &-indicator {
    position: absolute;
    stroke-width: 5;
  }

  &-select {
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    &.__menu_radial-active {
      color: #fff5;
    }
  }
}