.__menu_radial {
  position: fixed;
  transform: translate(-50%, -50%);

  &-indicator {
    position: absolute;
    stroke-width: 7;
    &-fg {
      stroke: #fffe;
    }
    &-bg {
      stroke: #fff6;
    }
  }

  &-select {
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    color: #fff6;
    user-select: none;
    text-align: center;
    white-space: nowrap;
  }
  &-active {
    background-color: #0091EA;
    border-radius: 2px;
    color: #fff;
    transform: translate(-50%, -50%) scale(1.15);
  }
  &-selection:not(&-active) {
    color: #fffe;
    transform: translate(-50%, -50%) scale(1.2);
  }
  &-nested {
    color: #dfd9;
  }
  &-nested &-selection {
    color: #dfde;
    transform: translate(-50%, -50%) scale(1.2);
  }
}